html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

/* strip and set up default styles */

html {
  font-size: 125%;
}

body {
  font-size: 1rem;
  line-height: 1;
  letter-spacing: 2px;
  font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  font-size: 1rem;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid green;
}

header {
  background-image: linear-gradient( rgba(2, 2, 2, 0.363), rgba(0, 0, 0, 0.438)), url(./assets/200402-bloomscape-zoom-2.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.logo {
  color: white;
  /* border: 1px solid red; */
  width: 210px;
  min-width: 210px;
  max-width: 210px;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-left: 30px;
  padding-top: 25px;
}

.logo span {
  display: block;
  text-transform: lowercase;
  font-style: italic; 
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  text-align: right;
}

h1 {
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  color: white;
  font-size: 2rem;
  text-align: center;
  line-height: 0.8;
  margin-top: 30px;
}

h1 span {
  display: block;
  font-family: 'Playfair Display', serif;
  font-style: italic;
  font-size: 10rem;
}

button {
  background: rgb(0, 53, 0);
  border:rgb(0, 53, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  padding: 12px 19px 13px 20px;
  /* border: 1px solid red; */
  margin-top: 80px;
  transition: 0.35s;
  border-radius: 8px;
}

button:hover {
  background: white;
  border: white;
  color: rgb(0, 53, 0);
}

.headingFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* SHOP SECTON */

.Shop {
  margin-top: 5%;
}

ul {
  display: flex;
  width: calc(100% / 3);
}

li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

h3, p {
  font-family: 'Playfair Display', serif;
  text-transform: capitalize;
  font-style: italic;
  text-align: center;
}

.fa-plus {
  color: white;
} 

.addToCartButton {
  transition: 0.3s;
  padding: 10px 13px;
}

.addToCartButton:hover {
  background: rgba(1, 126, 1, 0.966);
}

.shopImages {
  border: 1px solid red;
  border-radius: 8px;
}